@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}


body {
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

.hero {
    background-attachment: fixed;
    background-image: url(../img/capa-madmax2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    width: 100%;
}

.hero:after {
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75% );
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hero-menu {
    z-index: 2;
	display: flex;
	
}

.hero-menu .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.hero-conteudo .container {
    position: relative;
    z-index: 2;
}

.hero-logo {
    display: inline-block;
}

.hero-lista {
	
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-lista-item {
    margin: 0 25px;
}

.hero-lista-item a{
	color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s
}
.hero-usuario-foto {
    border-radius: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    height: 45px;
    margin-right: 15px;
    overflow: hidden;
    width: 45px;
}

.hero-usuario-foto img {
    width: 100%;
    height: auto;
}

.hero-usuario-nome {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

.hero-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero-titulo {
    color: #fff;
    font-size: 6.5em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    text-transform: uppercase;
}

.hero-titulo h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.hero-genero-item {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.hero-genero-item a {
	background-color: transparent;
}

.hero-botao {
    display: inline-block;
    padding: 15px 50px;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
    background-color: #e4bb23;
    border-radius: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.hero-informacao p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hero-informacao {
	display: block;
    padding: 20px 0;
    font-size: 1.4em;
    color: #fff;
}

.hero-informacao p:last-child {
    color: #bc9a1d;
}

.catalogo {
    background-color: #f2f2f2;
    width: 100%;
}

.catalogo-menu {
    width: 100%;
}


.catalogo-menu-lista-item {
    margin: 0 20px;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.catalogo-menu-lista {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
}

.catalogo-menu-lista-item a {
    color: #e4bb23;
    display: inline-block;
    padding: 25px 0;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.catalogo-filmes-lista {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}

.catalogo-filmes-lista-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    width: 24%;
}

.filme-poster {
    margin: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.filme-poster-link {
    color: #fff;
    font-size: 5em;
    transition: all 0.2s ease-in-out;
}

.filme-poster img {
    width: 100%;
    height: auto;
}

.filme-poster-info {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    padding: 80px 20px;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}

.filme-poster-info h3 {
    color: #e4bb23;
    font-size: 2em;
    line-height: 1em;
    text-transform: uppercase;
}

.filme-sinopse {
    padding: 10px;
    width: 100%;
}

.filme-sinopse-titulo {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.sinopse-genero {
    margin: 10px 0;
    display: flex;
}

.sinopse-genero-item {
    text-decoration: none;
    font-size: 1.2em;
    color: #e4bb23;
}

.filme-nota {
    margin: 0;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: space-between;
}

.rodape {
    background-color: #fff;
    color: #bababa;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.rodape .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-lista {
    padding: 0;
    list-style: none;
    display: flex;
}

.rodape-lista-item {
    margin: 0 20px;
}

.rodape-lista-item a {
    font-size: 2.5em;
    color: #bababa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}